.estarDescription {
    background-color: #e7e7e7;
    padding-bottom: 20px;
}

.estarDescription header h1 {
    font-size: 18px; padding: 20px 18px 5px 18px;
}

.estarDescription section {
    background-color: white; margin: 0 6px 6px 6px; border-radius: 2px; box-shadow: 0 0 5px #aaaaaa
}

.estarDescription section header {
    padding: 10px 10px 0px 10px; display:inline-block;
}

.estarDescription section header div {
    width:60px; float: left;
}

.estarDescription section header div image {
    border-radius: 3px;
}

.estarDescription section header article{
    float: right; width: *; padding: 0 0 0 15px;
}

.estarDescription section header article p:first-child{
    font-size: 15px; color: black; font-weight:bold;
}

.estarDescription section header article p:last-child{
    font-size: 12px; color: #666666
}

.estarDescription section section {
    background-color: #e7e7e7; padding: 15px 6px 20px 6px; margin: 6px 6px 6px 6px; border-radius: 2px;
}

.estarDescription section section article{
    background-color: white; border-radius: 2px;
}

.estarDescription section section article p img{
    float: left; padding: 5px; border-radius: 5px;
}

.estarDescription section section article p:last-child{
    float: inherit; padding: 5px; color: #222222
}

.estarDescription section section article{
    background-color: white; border-radius: 2px;
}

.estarDescription section div:last-child {
    height: 10px;
}
/* =========== Description CSS END ==============*/




.twoColumn .x-list-item {
       float: left;
       display: inline-block;
       width: 50%;
   }
.threeColumn .x-list-item {
    float: left;
    display: inline-block;
    width: 33%;
}

/*// 2컬럼 리스트 하단 경계선 삭제*/
.twoColumn.x-list-normal .x-list-item.x-list-item-tpl, .x-list-normal .x-list-item .x-dock-horizontal {
        border-top: none;
    }
.twoColumn.x-list-normal .x-list-item.x-list-item-tpl.x-list-footer-wrap, .x-list-normal .x-list-item.x-list-footer-wrap .x-dock-horizontal {
    border-bottom: none;
}


/*// 3컬럼 리스트 하단 경계선 삭제*/
.threeColumn.x-list-normal .x-list-item.x-list-item-tpl, .x-list-normal .x-list-item .x-dock-horizontal {
        border-top: none;
    }
.threeColumn.x-list-normal .x-list-item.x-list-item-tpl.x-list-footer-wrap, .x-list-normal .x-list-item.x-list-footer-wrap .x-dock-horizontal {
    border-bottom: none;
}

/*// Title Font*/
.x-title {
       font-size: 15px;
   }

/*// 본문 폰트 크기*/
body {
       font-size: 15px;
   }
body.x-android.x-phone {
    font-size: 15px;
}
body.x-ios.x-phone {
    font-size: 15px;
}
body.x-desktop {
    font-size: 15px;
}

.x-list-disclosure {        width: 12px;
    height: 1.5em;
    margin: 0 0 0 .5em;
    -webkit-mask: none;
    -webkit-mask-box-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAUCAYAAAC58NwRAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAZdEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjbQg61aAAAAc0lEQVQ4T2NgGGagtLS0DoSJ8hZIYVlZ2X8QJkoTUFELTAOILikpqSZoE7ma2tFsqiDGJtI0FRYWSgOd9xYpEJ4AxYSw2gRVfBtNsQqdFdvb27MA3XyEKGfA3AZ0uwpQ0xMQBrEJBiVIAUgh0YqJMpEuigDEnX39an6ddgAAAABJRU5ErkJggg==');
}



/* =========== CoverFlow CSS Start ===================== */
/*// 커버플로우 배경색*/
.ux-cover {
       background-color: white;
   }
.ux-cover .ux-cover-scroller .ux-cover-item {
    background-color: white;
}

.ux-cover .my-cover-item {
    position: relative;
    background-color: #BBB; /* JongKwang #fff */
    }
/**
 * Different styles for landscape and portrait mode
 */
.ux-cover-landscape .my-cover-item{
    font-size: 8px;
}

.ux-cover-portrait .my-cover-item{
    font-size: 12px;
}

/* This is just to make the demo looks good on desktop */
.x-desktop .my-cover-item{
    font-size: 15px;
}

.my-cover-item .image{
    position:absolute;
    top:0;
    bottom:0;
    width: 100%;
    text-align: center;
    overflow: hidden;
    z-index: 1;
}

.my-cover-item .image img{
    height: 100%;
}

.my-cover-item .dev {
    color: black;
}

.my-cover-item .company {
    position: absolute;
    opacity: 1;
    color: #C0C0C0; /* JongKwang #ffffff */
    background: black;
    bottom: 0px;
    height: 20px;
    width: 100%;
    z-index: 10;
}

/*Do something cool with selected item*/
.x-item-selected .my-cover-item{
    background-color: #FFF;

}
/* =========== CoverFlow CSS End ===================== */