.estarDescription {
    background-color: #e7e7e7;
    padding-bottom: 20px;
}

.estarDescription header h1 {
    font-size: 18px; padding: 20px 18px 5px 18px;
}

.estarDescription section {
    background-color: white; margin: 0 6px 6px 6px; border-radius: 2px; box-shadow: 0 0 5px #aaaaaa
}

.estarDescription section header {
    padding: 10px 10px 0px 10px; display:inline-block;
}

.estarDescription section header div {
    width:60px; float: left;
}

.estarDescription section header div image {
    border-radius: 3px;
}

.estarDescription section header article{
    float: right; width: *; padding: 0 0 0 15px;
}

.estarDescription section header article p:first-child{
    font-size: 15px; color: black; font-weight:bold;
}

.estarDescription section header article p:last-child{
    font-size: 12px; color: #666666
}

.estarDescription section section {
    background-color: #e7e7e7; padding: 15px 6px 20px 6px; margin: 6px 6px 6px 6px; border-radius: 2px;
}

.estarDescription section section article{
    background-color: white; border-radius: 2px;
}

.estarDescription section section article p img{
    float: left; padding: 5px; border-radius: 5px;
}

.estarDescription section section article p:last-child{
    float: inherit; padding: 5px; color: #222222
}

.estarDescription section section article{
    background-color: white; border-radius: 2px;
}

.estarDescription section div:last-child {
    height: 10px;
}
